@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: #14171a;
}

body {
  min-height: 100vh;
  background-color: #a1d9ff;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a, a:visited {
  color: #1da1f2;
}

input[type="text"],
input[type="password"],
input[type="email"],
button,
textarea {
  font-size: 16px;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #ccd6dd;
  background-color: #f5f8fa;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px #1da1f2;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.75rem;
  font-weight: bold;
  background-color: #1da1f2;
  color: #fff;
  border: none;
  cursor: pointer;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #f5f8fa;
  color: #657786;
  padding: 0.25rem;
  margin-top: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: #ffd2d2;
  color: #e0245e;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
